.Button {
  height: 40px;
  padding: 0 5px 0 5px;
  text-align: center;
  /* margin: auto; */
  /* float: right; */
}

.ButtonMobile {
  height: 30px;
  padding: 0 5px 0 5px;
  text-align: center;
  /* margin: auto; */
  /* float: right; */
}

.ItemCount {
  /* text-align: center; */
  /* background-color: green; */
  line-height: 40px;
}

.ItemCountContainer {
  /* align-content: center;
  justify-content: center; */
  background-color: orange;
  /* margin: auto; */
  height: 40px;
}

.Container {
  margin-top: 30px;
  /* background-color: pink; */
}
