.CartContainer {
  max-width: 500px;
  background-color: white;
  margin: auto;
  padding-top: 80px;
}

.CartContainerMobile {
  margin: auto;
  width: 100%;
  padding-top: 80px;
}

.ClearCart {
  margin-top: 8px;
  float: right;
}

.EmptyCart {
  color: grey;
  height: 60px;
  margin: auto;
}
