.CartItemContainer {
  margin: auto;
}

.CartItemRow {
  max-width: 500px;
  /* background-color: pink; */
  margin: auto;
}

.CartItemRowMobile {
  width: 100%;
  /* background-color: pink; */
  font-size: 12px;
}

.CartItemPic {
  height: 20px;
  width: 20px;
  border: 1px;
  border-color: grey;
}

.CartItemProductName {
  float: left;
  text-align: left;
}

.CartItemPrice {
  float: right;
  text-align: right;
  /* background-color: green; */
}
