* {margin: 0; padding: 0;}

.ShopListItem {
  margin: 20px;
  max-width: 500px;
  background-color: salmon;
}

/* ul {
  list-style-type: none;
  width: 500px;
} */

.ShopListItemTitle {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  text-align: left;
}

.ShopListItemThumbnail {
  float: left;
  margin: 0 15px 0 0;
  background-color: yellow;
  height: 100px;
  width: 100px;
}

.ShopListItemThumbnailMobile {
  float: left;
  margin: 8px 0 10px 0;
  background-color: yellow;
  height: 60px;
  width: 60px;
}

.ShopListItemDescription {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  text-align: left;
}

.ShopListItemPrice {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  color: grey;
  text-align: left;
}

.MidSection {
  background-color: pink;
}

.ThumbnailContainer {
  background-color: green;
}
