.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ContentContainer {
  max-width: 70%;
  background-color: orange;
  margin: auto;
}

.ContentContainerMobile {
  margin: auto;
}

.Footer {
  height: 30px;
}

.LoaderContainer {
  padding: 10px;
}

li {
  /* padding: 10px; */
  overflow: auto;
}

li:hover {
  background: #eee;
  /* cursor: pointer; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
